asgiref==3.8.1
dj-database-url==1.0.0
dj-email-url==1.0.6
Django==4.2.16
django-cache-url==3.4.5
django-debug-toolbar==4.4.6
environs==9.3.0
marshmallow==3.23.1
packaging==24.2
Pillow==8.0.1
python-dotenv==1.0.1
pytz==2024.2
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
